<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/dockerfile.min.js"></script>
<script>
	$(function () {
    $('[data-toggle="popover"]').on('shown.bs.popover', function () {
      document.querySelectorAll('pre code').forEach((block) => {
          hljs.highlightBlock(block);
      });
	  });
  });
</script>
